.button {
    padding: 10px 30px;
    border: 1px solid $green;
    border-radius: 0;
    background-color: $white;
    color: $green;
    text-transform: uppercase;
    font-family: Roboto;
    line-height: 1;
    transition: all 200ms;
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.button-grayed {
    border-color: $light-gray;
    color: $med-gray;
    &:hover {
        color: $white;
        background-color: $light-gray;
    }
}

.md-button.md-default-theme:not([disabled]).md-focused, 
.md-button:not([disabled]).md-focused, 
.md-button.md-default-theme:not([disabled]):hover, 
.md-button:not([disabled]):hover {
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.md-button.md-default-theme[disabled], 
.md-button[disabled] {
    border: 1px solid $med-gray;
    color: $med-gray;
    &:hover {
        background-color: $white;
        color: $med-gray;
    }
}

.button-naked {
    border: none;
    background-color: transparent;
}

.button-secondary {
    padding: 10px 30px;
    border: 1px solid $orange;
    border-radius: 0;
    background-color: $white;
    color: $orange;
    text-transform: uppercase;
    font-family: Roboto;
    line-height: 1;
    transition: all 200ms;
    &:hover {
        background-color: $orange;
        color: $white;
    }
}