.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 6px solid $green;
    box-shadow: $box-shadow;
    h1 {
        margin: 0;
    }
}

.icon-lightbulb {
    font-size: 28px;
    color: $green;
    &:hover {
        cursor: pointer;
        .header-profile-list {
            display: block;
        }
    }
}

.header-profile-list {
    position: absolute;
    right: 20px;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px;
    box-shadow: $box-shadow;
    font-size: 16px;
}
