.module-title-input {
    font-size: 18px;
    font-weight: 300;
}

.quick-report-list {
    margin: 20px 0;
}

.quick-report-list-item {
    padding: 10px 20px;
    text-align: center;
    color: $med-gray;
    box-sizing: border-box;
    & + .quick-report-list-item {
        border-left: 1px solid $green;
    }
}

.quick-report-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.quick-report-value {
    font-weight: 300;
    font-size: 30px;
}