.progress-bar {
    padding-bottom: 20px;
    border-bottom: 2px solid $light-gray;
    margin-bottom: 30px;
}

.progress-bar__list {
    display: flex;
    justify-content: space-evenly;
}

.progress-bar__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10%;
    margin: 0 30px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.progress-bar__list__item__text {
    margin-top: 10px;
}