// Application colors
$orange: #F59132;
$green: #55AC56;
$blue: #006699;

// Base colors
$black: #000000;
$white: #ffffff;
$light-gray: #D5D6D5;
$med-gray: #828381;
$gray: hsla(0, 0%, 0%, 0.2);

// Other Variables
$box-shadow: 0 0 6px 0 $gray;