<h1 class="md-headline"><img ng-src="/assets/images/sfs_logo.png" alt="Science from Scientists robot logo image"></h1>
<!-- 
<div ng-controller="NavController as vm">
    <div ng-if="vm.showLightbulb" class="icon-lightbulb">
        <i class="far fa-lightbulb"></i>
        <ul class="header-profile-list">
            <li class="header-profile-list-item">
                <a class="header-profile-list-link" ng-click="vm.userService.logout()">Logout</a>
            </li>
        </ul>
    </div>
</div> -->
<!-- ng-if="vm.showLightbulb"  -->