<div class="navbar">
    <div class="container">
        <ul>
            <li>
                <i class="fas fa-users"></i>
                <a href="#!user">Manage Users</a>
            </li>
            <li>
                <i class="fas fa-archive"></i>
                <a href="#!module">Module Creation</a>
            </li>
            <li>
                <i class="fas fa-shopping-cart"></i>
                <a href="#!shopping-nav">Shopping</a>
            </li>
            <li>
                <i class="fas fa-chart-pie"></i>
                <a href="#!report">Reporting</a>
            </li>
            <li>
                <i class="fas fa-cog"></i>
                <a href="#!app-settings">Application Settings</a>
            </li>
        </ul>
    </div>
</div>
