<div class="navbar">
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-list-item-link" href="#!user">
                <i class="fas fa-fw fa-users"></i>
                <span>Manage Users</span>
            </a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-item-link" href="#!module">
                <i class="fas fa-fw fa-archive"></i>
                <span>Module Creation</span>
            </a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-item-link" href="#!shopping-nav">
                <i class="fas fa-fw fa-shopping-cart"></i>
                <span>Shopping</span>
            </a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-item-link" href="#!report">
                <i class="fas fa-fw fa-chart-pie"></i>
                <span>Reporting</span>
            </a>
        </li>
        <li class="nav-list-item">
            <a class="nav-list-item-link" href="#!app-settings">
                <i class="fas fa-fw fa-cog"></i>
                <span>Application Settings</span>
            </a>
        </li>
    </ul>
</div>
