<div ng-include="'views/partials/nav.html'"></div>
<h2 class="md-title">Add Components</h2>
<div >
  <md-input-container>
    <label>Name</label>
    <input ng-model="vm.componentItem.name">
  </md-input-container>

  <md-input-container>
    <label>Type</label>
    <input ng-model="vm.componentItem.type">
  </md-input-container>

  <md-input-container>
    <label>Price Per Unit</label>
    <input ng-model="vm.componentItem.price_per_unit">
  </md-input-container>

  <md-input-container>
    <label>Pieces Per Unit</label>
    <input ng-model="vm.componentItem.pieces_per_unit">
  </md-input-container>
</div>

<div >
  <md-input-container>
    <label>Description</label>
    <textarea ng-model="vm.componentItem.description" rows="1"></textarea>
  </md-input-container>
</div>

<div>
  <md-input-container>
    <label>Vendor 1 Name</label>
    <input ng-model="vm.componentItem.vendor_name_primary">
  </md-input-container>

  <md-input-container>
    <label>Vendor 1 Link</label>
    <input ng-model="vm.componentItem.vendor_url_primary">
  </md-input-container>

  <md-input-container>
    <label>Vendor 2 Name</label>
    <input ng-model="vm.componentItem.vendor_name_secondary">
  </md-input-container>

  <md-input-container>
    <label>Vendor 2 Link</label>
    <input ng-model="vm.componentItem.vendor_url_secondary">
  </md-input-container>
</div>
<div>
  <md-input-container>
    <label>Notes/Purpose</label>
    <textarea ng-model="vm.componentItem.notes" rows="1"></textarea>
  </md-input-container>
</div>

<div>
  <md-checkbox ng-model="vm.componentItem.general_stock_item" aria-label="General Stock Checkbox">
    General Stock Item
  </md-checkbox>
  <md-checkbox ng-model="vm.componentItem.consumable" aria-label="Consumable Checkbox">
    Consumable
  </md-checkbox>
  <button type="button" name="button" ng-click="vm.addComponentToLib(vm.componentItem)">Add Component</button>
</div>

<br>
<br>
<br>

<md-input-container>
  <label>Filter Components</label>
  <input ng-model="filterString.name"/>
</md-input-container>

<!-- Table mock up for the time being, will be changed out later for accordion divs  -->
<h2>Manage Components</h2>
<table>
  <thead>
    <tr>
      <th>Name <span ng-click="vm.sortColumns('nameAsc')">&#9650;</span><span ng-click="vm.sortColumns('nameDesc')">&#9660;</span></th>
      <th>Type <span ng-click="vm.sortColumns('typeAsc')">&#9650;</span><span ng-click="vm.sortColumns('typeDesc')">&#9660;</span></th>
      <th>Description</th>
      <th>Price Per Unit <span ng-click="vm.sortColumns('pricePUAsc')">&#9650;</span><span ng-click="vm.sortColumns('pricePUDesc')">&#9660;</span></th>
      <th>Pieces Per Unit</th>
      <th>General Stock <span ng-click="vm.sortColumns('genStockAsc')">&#9650;</span><span ng-click="vm.sortColumns('genStockDesc')">&#9660;</span></th>
      <th>Consumable <span ng-click="vm.sortColumns('consumableAsc')">&#9650;</span><span ng-click="vm.sortColumns('consumableDesc')">&#9660;</span></th>
      <th>Modules Used In</th>
      <th>Vendor 1 Name <span ng-click="vm.sortColumns('vendor1Asc')">&#9650;</span><span ng-click="vm.sortColumns('vendor1Desc')">&#9660;</span></th>
      <th>Vendor 1 Link</th>
      <th>Vendor 2 Name <span ng-click="vm.sortColumns('vendor2Asc')">&#9650;</span><span ng-click="vm.sortColumns('vendor2Desc')">&#9660;</span></th>
      <th>Vendor 2 Link</th>
      <th>Notes</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="component in vm.componentLibrary.list | filter:filterString ">
      <td ng-if="!vm.edit[component.id]">{{component.name}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.name" ng-model="component.name"></td>

      <td ng-if="!vm.edit[component.id]">{{component.type}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.type" ng-model="component.type"></td>

      <td ng-if="!vm.edit[component.id]">{{component.description}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.description" ng-model="component.description"></td>

      <td ng-if="!vm.edit[component.id]">{{component.price_per_unit}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.price_per_unit" ng-model="component.price_per_unit"></td>

      <td ng-if="!vm.edit[component.id]">{{component.pieces_per_unit}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.pieces_per_unit" ng-model="component.pieces_per_unit"></td>

      <td ng-if="!vm.edit[component.id]">{{component.general_stock_item}}</td>
      <td ng-if="vm.edit[component.id]">
        <select ng-model="component.general_stock_item">
          <option ng-value="true">True</option>
          <option ng-value="false">False</option>
        </select>
      </td>

      <td ng-if="!vm.edit[component.id]">{{component.consumable}}</td>
      <td ng-if="vm.edit[component.id]">
        <select ng-model="component.consumable">
          <option ng-value="true">True</option>
          <option ng-value="false">False</option>
        </select>
      </td>

      <td> {{component.modules_used_in}} </td>
      <td ng-if="!vm.edit[component.id]">{{component.vendor_name_primary}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_name_primary" ng-model="component.vendor_name_primary"></td>

      <td ng-if="!vm.edit[component.id]">{{component.vendor_url_primary}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_url_primary" ng-model="component.vendor_url_primary"></td>

      <td ng-if="!vm.edit[component.id]">{{component.vendor_name_secondary}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_name_secondary" ng-model="component.vendor_name_secondary"></td>

      <td ng-if="!vm.edit[component.id]">{{component.vendor_url_secondary}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_url_secondary" ng-model="component.vendor_url_secondary"></td>

      <td ng-if="!vm.edit[component.id]">{{component.notes}}</td>
      <td ng-if="vm.edit[component.id]"><input type="text" ng-value="component.notes" ng-model="component.notes"></td>

      <td ng-if="!vm.edit[component.id]"><button ng-click="vm.modifyComponent(component)">Edit</button></</td>
      <td ng-if="vm.edit[component.id]"><button ng-click="vm.updateComponent(component)">Update</button></</td>

      <td ng-if="vm.edit[component.id]"><button ng-click="vm.cancelEdit(component)">Cancel</button></td>
      <td ng-if="!vm.edit[component.id]"><button ng-click="vm.deleteComponent(component.id)">Delete</button></</td>

    </tr>
  </tbody>
</table>
