<div ng-include="'views/partials/nav.html'"></div>
<div ng-if="!vm.moduleViewer">
  <h2 class="md-title">Add Components</h2>
  <div >
    <md-input-container>
      <label>Name</label>
      <input ng-model="vm.componentItem.name">
    </md-input-container>

    <md-input-container>
      <label>Type</label>
      <input ng-model="vm.componentItem.type">
    </md-input-container>

    <md-input-container>
      <label>Price Per Unit</label>
      <input ng-model="vm.componentItem.price_per_unit">
    </md-input-container>

    <md-input-container>
      <label>Pieces Per Unit</label>
      <input ng-model="vm.componentItem.pieces_per_unit">
    </md-input-container>
  </div>

  <div >
    <md-input-container>
      <label>Description</label>
      <textarea ng-model="vm.componentItem.description" rows="1"></textarea>
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <label>Vendor 1 Name</label>
      <input ng-model="vm.componentItem.vendor_name_primary">
    </md-input-container>

    <md-input-container>
      <label>Vendor 1 Link</label>
      <input ng-model="vm.componentItem.vendor_url_primary">
    </md-input-container>

    <md-input-container>
      <label>Vendor 2 Name</label>
      <input ng-model="vm.componentItem.vendor_name_secondary">
    </md-input-container>

    <md-input-container>
      <label>Vendor 2 Link</label>
      <input ng-model="vm.componentItem.vendor_url_secondary">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <label>Notes/Purpose</label>
      <textarea ng-model="vm.componentItem.notes" rows="1"></textarea>
    </md-input-container>
  </div>

  <div>
    <md-checkbox ng-model="vm.componentItem.general_stock_item" aria-label="General Stock Checkbox">
      General Stock Item
    </md-checkbox>
    <md-checkbox ng-model="vm.componentItem.consumable" aria-label="Consumable Checkbox">
      Consumable
    </md-checkbox>
    <button type="button" name="button" ng-click="vm.addComponentToLib(vm.componentItem)" class="button">Add Component</button>
  </div>

  <md-input-container>
    <label>Filter Components</label>
    <input ng-model="filterString.name"/>
  </md-input-container>

  <!-- Table mock up for the time being, will be changed out later for accordion divs  -->
  <h2>Manage Components</h2>   
   <div class="mock-table" role="table" aria-label="Components">
      <div class="mock-table-header" role="rowgroup">
          <div class="mock-table-row mock-table-row-header" row="row">
            <h3 class="columnheader">Name <span ng-click="vm.sortColumns('nameAsc')">&#9650;</span><span ng-click="vm.sortColumns('nameDesc')">&#9660;</span></h3>
            <h3 class="columnheader">Type <span ng-click="vm.sortColumns('typeAsc')">&#9650;</span><span ng-click="vm.sortColumns('typeDesc')">&#9660;</span></h3>
            <h3 class="columnheader">Description</h3>
            <h3 class="columnheader">Price Per Unit <span ng-click="vm.sortColumns('pricePUAsc')">&#9650;</span><span ng-click="vm.sortColumns('pricePUDesc')">&#9660;</span></h3>
            <h3 class="columnheader">Pieces Per Unit</h3>
            <h3 class="columnheader">General Stock <span ng-click="vm.sortColumns('genStockAsc')">&#9650;</span><span ng-click="vm.sortColumns('genStockDesc')">&#9660;</span></h3>
            <h3 class="columnheader">Consumable <span ng-click="vm.sortColumns('consumableAsc')">&#9650;</span><span ng-click="vm.sortColumns('consumableDesc')">&#9660;</span></h3>
            <h3 class="columnheader">Modules Used In</h3>
            <h3 class="columnheader">Vendor 1<span ng-click="vm.sortColumns('vendor1Asc')">&#9650;</span><span ng-click="vm.sortColumns('vendor1Desc')">&#9660;</span></h3>
            <h3 class="columnheader">Vendor 2<span ng-click="vm.sortColumns('vendor2Asc')">&#9650;</span><span ng-click="vm.sortColumns('vendor2Desc')">&#9660;</span></h3>
            <h3 class="columnheader">Notes</h3>
            <h3 class="columnheader">Edit</h3>
            <h3 class="columnheader">Delete</h3>
          </div><!-- /.mock-table-row -->
      </div> <!-- /.mock-table-header -->
      <div class="mock-table-body" role="rowgroup">
          <div class="mock-table-row" row="row" ng-repeat="component in vm.componentLibrary.list | filter:filterString ">
            <p role="cell" ng-if="!vm.edit[component.id]">{{component.name}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.name" ng-model="component.name"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.type}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.type" ng-model="component.type"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.description}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.description" ng-model="component.description"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.price_per_unit}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.price_per_unit" ng-model="component.price_per_unit"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.pieces_per_unit}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.pieces_per_unit" ng-model="component.pieces_per_unit"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.general_stock_item}}</p>
            <p role="cell" ng-if="vm.edit[component.id]">
              <select ng-model="component.general_stock_item">
                <option ng-value="true">True</option>
                <option ng-value="false">False</option>
              </select>
            </p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.consumable}}</p>
            <p role="cell" ng-if="vm.edit[component.id]">
              <select ng-model="component.consumable">
                <option ng-value="true">True</option>
                <option ng-value="false">False</option>
              </select>
            </p>

            <p role="cell"><span ng-click="vm.getModules(component)">{{component.modules_used_in}}</span></p>

            <p role="cell" ng-if="!vm.edit[component.id]">
              <a ng-href="{{component.vendor_url_primary}}">
                {{component.vendor_name_primary}}
              </a>
            </p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_name_primary" ng-model="component.vendor_name_primary"></p>

            <p role="cell" ng-if="!vm.edit[component.id]"></p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_url_primary" ng-model="component.vendor_url_primary"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">
              <a ng-href="{{component.vendor_name_secondary}}">
                  {{component.vendor_name_secondary}}
              </a>
            </p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_name_secondary" ng-model="component.vendor_name_secondary"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.vendor_url_secondary}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.vendor_url_secondary" ng-model="component.vendor_url_secondary"></p>

            <p role="cell" ng-if="!vm.edit[component.id]">{{component.notes}}</p>
            <p role="cell" ng-if="vm.edit[component.id]"><input type="text" ng-value="component.notes" ng-model="component.notes"></p>

            <p role="cell" ng-if="!vm.edit[component.id]"><button ng-click="vm.modifyComponent(component)" class="button">Edit</button></p>
            <p role="cell" ng-if="vm.edit[component.id]"><button ng-click="vm.updateComponent(component)" class="button">Update</button></p>

            <p role="cell" ng-if="vm.edit[component.id]"><button ng-click="vm.cancelEdit(component)" class="button">Cancel</button></p>
            <p role="cell" ng-if="!vm.edit[component.id]"><button ng-click="vm.deleteComponent(component.id)" class="button">Delete</button></p>

        </div>
      </div>
  </div>

</div>
<div ng-if="vm.moduleViewer">
  <h2 ng-click="vm.backToComponents()">Back</h2>
  <ul>
    <li ng-repeat="module in vm.componentModules.list">
      <a ng-href="#!module/{{module.id}}">{{module.name}}</a>
    </li>
  </ul>

</div>
