<div class="container" ng-if="vm.passwordStatus">
    <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="vm.message != ''">{{vm.message}}</h2>
        <form ng-submit="vm.login()">
            <div>
                <md-input-container>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="vm.user.username" />
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="vm.user.password" />
                </md-input-container>
            </div>
            <div>
                <input class="btn btn-default" type="submit" name="submit" value="Log In" />
            </div>
        </form>
</div>

<div ng-if="!vm.passwordStatus">
    <h1>Set New Password</h1>
    <h3>Please make your </h3>
    <div>
        <md-input-container class="md-block">
            <label>New Password</label>
            <input type="password" required md-no-asterisk name="newpassword" ng-model="vm.newPassword.password" minlength="8" maxlength="32"
                ng-pattern="/^(?=(?:.*[a-zA-Z]){1})(?=(?:.*[0-9]){1})\w+$/" />
            <div ng-message-exp="['required', minlength', 'maxlength', 'pattern']">
                Your password must be atleast 8-32 characters long and have atleast one letter and number.
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block">
            <label>Retype New Password</label>
            <input type="password" required md-no-asterisk name="retypepassword" ng-model="vm.newPassword.retypePassword" minlength="8"
                maxlength="32" ng-pattern="/^(?=(?:.*[a-zA-Z]){1})(?=(?:.*[0-9]){1})\w+$/" />
        </md-input-container>
    </div>
    <md-button class="md-raised" ng-click="vm.setNewPassword(vm.newPassword)">Submit</md-button>
</div>