<div ng-include="'views/partials/nav.html'"></div>

<h2 class="md-title">Module Creation</h2>
<div class="sub-navbar">
    <ul class="sub-nav-list">
        <li class="sub-nav-item">
            <a class="sub-nav-item-link" href="#!component">
                <i class="fas fa-fw fa-columns"></i>
                <span>Component Library</span>
            </a>
        </li>
        <li class="sub-nav-item">
            <a class="sub-nav-item-link" href="#!module">
                <i class="fas fa-fw fa-archive"></i>
                <span>Module Creator</span>
            </a>
        </li>
        <li class="sub-nav-item">
            <a class="sub-nav-item-link" href="#!module-library">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>Module Library</span>
            </a>
        </li>
    </ul>
</div>
