
<h1>Module Creator</h1>

Material Cost
$0.00

Materials in Kit Cost
$0.00

Estimated Labor Cost
$0.00

Materials Ordered + Labor
$0.00

Materials in Kit + Labor
$0.00


-----


Module name / Code
Save Module

Components
Add New Component
Dropdown


-----

Add New Component
- Name
- Description
- Price Per Unit
- Pieces Per Unit
- Vendor 1 Name
- Vendor 1 Link
- Vendor 2 Name
- Vendor 2 Link
Check: General Stock Item
Check: Consumable
Add Component


-----

Resources:
- Module Drive Link
- Module Drive Title
- To BE Printed
- To Be Printed Title
- Assembly Video
- Assembly Video Title
- Activity Video
- Activity Video Title
- Kit Content Sheet
- Kit Content Sheet Title
- Other Link1
- Other Link1 Title
- Other Link2
- Other Link2 Title

-----

Assembly Instructions


-----

TABLE:
pieces per kit
name
type
description
price per unit
pieces per unit
cost per kit
general stock
consumable
modules ised in
vendor name 1
vendor link 1
vendor name 2
vendor link 2
purpose/notes
delete