<div ng-include="'views/partials/nav.html'"></div>

<div class="sub-navbar">
    <ul class="sub-nav-list">
        <li class="sub-nav-item">
            <a href="#!shopping-list-creation">
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Shopping List Creation</span>
            </a>
        </li>
        <li class="sub-nav-item">
            <a href="#!shopping-list">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>Shopping List</span>
            </a>
        </li>
    </ul>
</div>
