<div ng-include="'views/partials/nav.html'"></div>

<h2 class="md-title">Shopping</h2>
<div class="sub-navbar">
    <ul class="sub-nav-list">
        <li class="sub-nav-item">
            <a class="sub-nav-item-link" href="#!shopping-list-creation">
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Shopping List Creation</span>
            </a>
        </li>
        <li class="sub-nav-item">
            <a class="sub-nav-item-link" href="#!shopping-list">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>Shopping List</span>
            </a>
        </li>
    </ul>
</div>
