<h1>New Shopping List</h1>

<md-input-container class="input">
    <label>Shopping List Name</label>
    <input ng-model="vm.name">
  </md-input-container>
<button ng-click="vm.createShoppingList(vm.name)">Start List</button><br>
<md-input-container class="input">
    <label>Search Modules</label>
    <input ng-model="vm.search">
  </md-input-container>

<h2 class="shopHeader">Search Results</h2>

<thead>
    <tr>
        <th>Add</th>
        <th>Module Name</th>
        <th>Code</th>
        <th>Unit Cost</th>
        <th>Total Cost</th>
    </tr>
</thead><br>
<tbody>
    <tr ng-repeat="search in vm.ModuleLibrary.list | filter: search">
        <td><md-checkbox aria-label="Add Checkbox"></md-checkbox></td>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.unit_cost}}</td>
        <td>{{otem.total_cost}}</td>
</tbody><br>

<h2 class="shopHeader">Added Modules</h2>
<thead>
    <tr>
        <th>Quantity</th>
        <th>Module Name</th>
        <th>Code</th>
        <th>Unit Cost</th>
        <th>Total Cost</th>
    </tr>
</thead><br>

<tbody>
    <tr ng-repeat="item in vm.ModuleLibrary.list">
        <td><input type="number" name="quantity"></td>
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.unit_cost}}</td>
        <td>{{otem.total_cost}}</td>
</tbody><br>
<button>Save Shopping List</button>
<div ng-include="'views/partials/nav.html'"></div>
