<div ng-include="'views/partials/nav.html'"></div>

<h2 class="md-title">New Shopping List</h2>
<form ng-submit="vm.createShoppingList(vm.name, vm.userObject.list.first_name, vm.userObject.list.last_name); vm.showSearchResults = true;">
    <md-input-container class="input">
        <label>Shopping List Name</label>
        <input ng-model="vm.name" required />
    </md-input-container>
    <input type="submit" value="Start List" />
</form>

<div class="search-results" ng-if="vm.showSearchResults">
    <md-input-container class="input">
        <label>Search Modules</label>
        <input ng-model="vm.search">
    </md-input-container>

    <h2 class="md-title md-subtitle">Search Results</h2>
    <table>
        <thead>
            <tr>
                <th>Add</th>
                <th>Module Name</th>
                <th>Code</th>
                <th>Unit Cost</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in vm.moduleLibrary.list | filter: search">
                <td><button ng-click="vm.addModule(module); vm.showAddedModules = true;gt">Add Module</button></td>
                <td>{{module.name}}</td>
                <td>{{module.code}}</td>
                <td>{{module.unit_cost}}</td>
                <td>{{otem.total_cost}}</td>
        </tbody>
    </table>
</div>

<div class="added-modules" ng-if="vm.showAddedModules">
    <h2 class="md-title md-subtitle">Added Modules</h2>
    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Module Name</th>
                <th>Code</th>
                <th>Unit Cost</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in vm.addedModuleLibrary">
                <td><input type="number" name="quantity" ng-model="module.quantity"></td>
                <td>{{module.name}}</td>
                <td>{{module.code}}</td>
                <td>{{module.unit_cost}}</td>
                <td>{{module.total_cost}}</td>
        </tbody>
    </table>
    <button ng-click="vm.saveShoppingList(vm.addedModuleLibrary)">Save Shopping List</button>
</div>