<h1> Created Shopping Lists </h1>

<label for="shoppingLists">Lists</label>

<select id="shoppingLists">
<option value=""></option>
</select>

<button>Print</button>


 <!-- Table mock up for the time being, will be changed out later for according divs  -->
<h2>Shopping List</h2>
<table>
  <thead>
    <tr>
        <th>Ordered</th>
        <th>In-House</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price Per Unit</th>
        <th>Pieces Per Unit</th>
        <th>General Stock</th>
        <th>Consumable</th>
        <th>Modules Used In</th>
        <th>Vendor 1 Name</th>
        <th>Vendor 1 Link</th>
        <th>Vendor 2 Name</th>
        <th>Vendor 2 Link</th>
        <th>Notes</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  </thead>
<div ng-include="'views/partials/nav.html'"></div>
shopping list view
