<div ng-include="'views/partials/nav.html'"></div>
<h2 class="md-title">Created Shopping Lists </h2>

<label for="shoppingLists" class="sr-only">Lists</label>


<select class="shopping-list-select" ng-change="vm.getComponents(selectedList.id)" ng-model="selectedList"
ng-options="list as list.name for list in vm.shoppingLists.list"  >
	<option value="" selected disabled>Select a List</option>
</select>


<button class="shopping-list-print button" ng-click="vm.printPage()">Print</button>

 <!-- Table mock up for the time being, will be changed out later for according divs  -->
<h3 class="md-title md-title-left">Shopping List</h3>
<div class="mock-table" role="table" aria-label="Components">
	<div class="mock-table-header" role="rowgroup">
		<div class="mock-table-row mock-table-row-header" row="row">
			<h3 class="columnheader">Ordered</h3>
			<h3 class="columnheader">In-House</h3>
			<h3 class="columnheader">Name</h3>
			<h3 class="columnheader">Order Quantity</h3>
			<h3 class="columnheader">Type</h3>
			<h3 class="columnheader">Description</h3>
			<h3 class="columnheader">Vendor 1 Name</h3>
			<h3 class="columnheader">More Info</h3>
		</div><!-- /.mock-table-row-header -->
	</div><!-- /.mock-table-header -->
	<div class="mock-table-body" role="rowgroup">
		<div class="mock-table-row" row="row" ng-repeat="component in vm.components.list">

			<p role="cell" ><input type="checkbox" ng-click="vm.updateOrdered(component)" ng-model="component.ordered"></p>
			<p role="cell"><input type="checkbox" ng-click="vm.updateInHouse(component)" ng-model="component.in_house"></p>
			<p role="cell">{{component.name}}</p>
			<p role="cell">{{component.orderQty}}</p>
			<p role="cell">{{component.type}}</p>
			<p role="cell">{{component.description}}</p>
			<p role="cell"><a href="http://{{component.vendor_url_primary}}" target="_blank">{{component.vendor_name_primary}}</a></p>
			<p role="cell">
				<p role="cell" ng-click="vm.showHideTableData = !vm.showHideTableData"><i class="fas fa-sort-down"></i></p>
				<div class="collapsed-table-data" ng-if="vm.showHideTableData">
					<div class="mock-table" role="table" aria-label="Components">
						<div class="mock-table-header" role="rowgroup">
							<div class="mock-table-row mock-table-row-header" row="row">
								<h3 class="columnheader">Price Per Unit</h3>
								<h3 class="columnheader">Pieces Per Unit</h3>
								<h3 class="columnheader">General Stock</h3>
								<h3 class="columnheader">Consumable</h3>
								<h3 class="columnheader">Modules Used In</h3>
								<h3 class="columnheader">Vendor 2 Name</h3>
								<h3 class="columnheader">Vendor 2 Link</h3>
								<h3 class="columnheader">Notes</h3>
							</div><!-- /.mock-table-row-header -->
						</div><!-- /.mock-table-header -->

						<div class="mock-table-body" role="rowgroup">
							<div class="mock-table-row" row="row">
								<p role="cell">Description here</p>
								<p role="cell">$price per unit</p>
								<p role="cell">#pieces per unit</p>
								<p role="cell">true</p>
								<p role="cell">true</p>
								<p role="cell">3</p>
								<p role="cell">vendor name 2</p>
								<p role="cell">vendor link 2</p>
								<p role="cell">Notes that are here for the thing</p>
							</div><!-- /.mock-table-row -->
						</div><!-- /.mock-table-body -->
					</div>
				</div>
			</p>
		</div><!-- /.mock-table-row -->
	</div><!-- /.mock-table-body -->
</table><!-- /.mock-table -->
