<div ng-include="'views/partials/nav.html'"></div>
<div ng-include="'views/partials/subnav-shopping.html'"></div>

<label for="shoppingLists" class="sr-only">Lists</label>

<div class="select-wrapper">
	<select class="shopping-list-select" ng-change="vm.getComponents(selectedList.id)" ng-model="selectedList" ng-options="list as list.name for list in vm.shoppingLists.list">
		<option value="" selected disabled>Select a List</option>
	</select>
	<span class="arrow-button">
		<i class="fas fa-angle-down"></i>
	</span>
</div>

<button class="shopping-list-print button" ng-click="vm.printPage()">Print</button>

<h2 ng-if="!vm.components.list[0].shoppinglist_name" class="md-title">Created Shopping Lists </h2>
<h2 ng-if="vm.components.list[0].shoppinglist_name" class="md-title md-title-left">{{vm.components.list[0].shoppinglist_name}}</h2>

 <!-- Table mock up for the time being, will be changed out later for according divs  -->
<h3 class="md-title md-title-left">Shopping List</h3>
<div class="mock-table" role="table" aria-label="Components" ng-if="vm.components.list[0]">
	<div class="mock-table-header" role="rowgroup">
		<div class="mock-table-row mock-table-row-header" row="row">
			<h3 class="columnheader">Ordered</h3>
			<h3 class="columnheader">In-House</h3>
			<h3 class="columnheader">Name</h3>
			<h3 class="columnheader">Order Quantity</h3>
			<h3 class="columnheader">Type</h3>
			<h3 class="columnheader">Description</h3>
			<h3 class="columnheader">Vendor 1</h3>
			<h3 class="columnheader">More Info</h3>
		</div><!-- /.mock-table-row-header -->
	</div><!-- /.mock-table-header -->
	<div class="mock-table-body" role="rowgroup">
		<div class="mock-table-row" row="row" ng-repeat="component in vm.components.list">

			<p role="cell"><input type="checkbox" ng-click="vm.updateOrdered(component)" ng-model="component.ordered"></p>
			<p role="cell"><input type="checkbox" ng-click="vm.updateInHouse(component)" ng-model="component.in_house"></p>
			<p role="cell">{{component.name}}</p>
			<p role="cell">{{component.orderQty}}</p>
			<p role="cell">{{component.type}}</p>
			<p role="cell">{{component.description}}</p>
			<p role="cell"><a href="http://{{component.vendor_url_primary}}" target="_blank">{{component.vendor_name_primary}}</a></p>
			<p role="cell">
            <p role="cell" ng-click="vm.showHideTableData[$index].show = !vm.showHideTableData[$index].show">
				<span class="sort-button">
					<i class="fas fa-info-circle"></i>
				</span>
			</p>
				<div class="collapsed-table-data" ng-if="vm.showHideTableData[$index].show">
					<div class="mock-table" role="table" aria-label="Components">
						<div class="mock-table-header" role="rowgroup">
							<div class="mock-table-row mock-table-row-header" row="row">
								<h3 class="columnheader">Price Per Unit</h3>
								<h3 class="columnheader">Pieces Per Unit</h3>
								<h3 class="columnheader">General Stock</h3>
								<h3 class="columnheader">Consumable</h3>
								<h3 class="columnheader">Modules Used In</h3>
								<h3 class="columnheader">Vendor 2</h3>
								<h3 class="columnheader">Notes</h3>
							</div><!-- /.mock-table-row-header -->
						</div><!-- /.mock-table-header -->
						<div class="mock-table-body" role="rowgroup">
							<div class="mock-table-row" row="row">
								<p role="cell">{{component.price_per_unit | currency}}</p>
								<p role="cell">{{component.pieces_per_unit}}</p>
								<p role="cell">{{component.general_stock_item}}</p>
								<p role="cell">{{component.consumable}}</p>
                                <p role="cell">GET THIS DATA</p>
                                <p role="cell"><a href="http://{{component.vendor_url_secondary}}" target="_blank">{{component.vendor_name_secondary}}</a></p>
								<p role="cell">{{component.notes}}</p>
							</div><!-- /.mock-table-row -->
						</div><!-- /.mock-table-body -->
					</div>
				</div>
			</p>
		</div><!-- /.mock-table-row -->
	</div><!-- /.mock-table-body -->
</div><!-- /.mock-table -->

<div ng-if="!vm.components.list[0]"><p>No components to show in this shopping list.</p></div>