<div ng-include="'views/partials/nav.html'"></div>
<div ng-if="!vm.showEdit && !vm.showNew">
<!-- The && here is an or statement, not an "and". || was functioning as an "and" not an "or". -->
    <p>Filter:</p>
    <md-input-container> 
        <label>First Name</label>
        <input ng-model="userFilter.first_name">
    </md-input-container>

    <h2 class="md-title md-title-left">Manage Users</h2>

    <h2class="md-title md-title-left">Add User</h2>
        <md-button class="button" ng-click="vm.showNew=!vm.showNew"> + </md-button>
    
    <!-- Manage user Table -->
    <div class="mock-table" role="table" aria-label="Components">
        <div class="mock-table-header" role="rowgroup">
            <div class="mock-table-row mock-table-row-header" row="row">
                <h3 class="columnheader">First Name <span ng-click="vm.sortUsers('fnameAsc')">&#9650;</span><span ng-click="vm.sortUsers('fnameDesc')">&#9660;</span></h3>
                <h3 class="columnheader">Last Name <span ng-click="vm.sortUsers('lnameAsc')">&#9650;</span><span ng-click="vm.sortUsers('lnameDesc')">&#9660;</span></h3>
                <h3 class="columnheader">Account-Type <span ng-click="vm.sortUsers('accountAsc')">&#9650;</span><span ng-click="vm.sortUsers('accountDesc')">&#9660;</span></h3>
                <h3 class="columnheader">Username <span ng-click="vm.sortUsers('usernameAsc')">&#9650;</span><span ng-click="vm.sortUsers('usernameDesc')">&#9660;</span></h3>
                <h3 class="columnheader">Edit</h3>
                <h3 class="columnheader">Delete</h3>
            </div><!-- /.mock-table-row-header -->
        </div> <!-- /.mock-table-header -->
        <div class="mock-table-body" role="rowgroup">
            <div class="mock-table-row" row="row" ng-repeat="user in vm.userLibrary.list | filter:userFilter">
                <p role="cell">{{user.first_name}}</p>
                <p role="cell">{{user.last_name}}</p>
                <p role="cell">{{user.name}}</p>
                <p role="cell">{{user.username}}</p>
                <p role="cell">
                    <md-button class="button" ng-click="vm.showEdit=!vm.showEdit; vm.editUser=user">Edit</md-button>
                </p>
                <p role="cell">
                    <md-button class="button" ng-click="vm.deleteUser(user)" ng-disabled="user.id==vm.userObject.list.id">Delete</md-button>
                </p>
            </div><!-- /.mock-table-row -->
        </div><!-- /.mock-table-body -->
    </div> <!-- /.mock-table -->
</div>

<!-- This is the Add User Div for "Modal" -->
<div class="modal fade" ng-if="vm.showNew">
    <div class="modal-inner">
        <h2>Add User</h2>
        <md-input-container>
            <label>First Name</label>
            <input ng-model="vm.newUser.first_name">
        </md-input-container>

        <md-input-container>
            <label>Last Name</label>
            <input ng-model="vm.newUser.last_name">
        </md-input-container>

        <md-input-container>
            <label>Username (email)</label>
            <input ng-model="vm.newUser.username">
        </md-input-container>

        <md-input-container>
            <label>Account-Type</label>
            <md-select ng-model="vm.newUser.usertype">
                <md-option ng-repeat="types in vm.userTypes.list" ng-value="types.id">
                    {{types.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="button" ng-click="vm.addUser(vm.newUser)">Create</md-button>
        <md-button class="button" ng-click="vm.showNew=!vm.showNew">Cancel</md-button>
    </div><!-- /.modal-inner -->
</div><!-- /.modal -->

<!-- This is the Edit User Div for "Modal" -->
<div class="modal fade" ng-if="vm.showEdit">
    <div class="modal-inner">
        <h2>Edit User</h2>
        <md-input-container>
            <label>First Name</label>
            <input ng-model="vm.editUser.first_name">
        </md-input-container>

        <md-input-container>
            <label>Last Name</label>
            <input ng-model="vm.editUser.last_name">
        </md-input-container>

        <md-input-container>
            <label>Username (email)</label>
            <input ng-model="vm.editUser.username">
        </md-input-container>

        <md-input-container>
            <label>Account-Type</label>
            <md-select ng-model="vm.editUser.usertype">
                <md-option ng-repeat="types in vm.userTypes.list" ng-value="types.id">
                    {{types.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="button" ng-click="vm.resetPassword(vm.editUser.id)">Reset Password</md-button>
        <md-button class="button" ng-click="vm.submitEdit(vm.editUser)">Submit</md-button>
        <md-button class="button" ng-click="vm.showEdit=!vm.showEdit">Cancel</md-button>
    </div><!-- /.modal-inner -->
</div><!-- /.modal -->